* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: columns;
    margin-top: 20vh;
    margin-left: 20vw;
    padding-bottom: 300px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 5rem;
}

input {
    height: 2rem;
    border: none;
    border-radius: 10px;
    &:focus {
        outline: none;
    }
    padding: 0 1rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

select {
    border: none;
    margin-top: 2rem;
    margin-left: 85%;
    font-family: 'Roboto', sans-serif;
    &:focus {
        outline: none;
    }
}

.title {
    &:after {
        position: absolute;
        left: 20vw;
        top: calc(20vh + 5rem + 10px);
        content: '';
        background: #000000;
        width: 400px;
        height: 11px;
    }
}

p {
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    font-weight: 300;
    color: rgb(34, 34, 34);
}

.list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.album-list {
    margin-top: 2rem;
}

.close-btn {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 10px;
    right: 25px;
}

.card {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    border-radius: 15px;
}

.album {
    position: relative;
    padding-right: 1.5rem;
    transition: all 0.2s ease-in-out;
    box-shadow: 8px 8px 14px 2px rgba(0, 0, 0, 0.15);
    img {
        width: 100px;
        height: 100px;
        border-radius: 10px;
    }
    h1 {
        font-size: 2rem;
        font-weight: 400;
        // margin-right: 2rem;
        width: 20rem;
        max-width: 20rem;
    }
    .info {
        margin-left: 1rem;
        margin-top: 0.5rem;
    }

    &:hover {
        transform: scale(1.01);
        box-shadow: 8px 8px 12px 2px rgba(0, 0, 0, 0.2);
    }
}

.add-new-btn {
    margin: 0 1rem;
    position: relative;
    button {
        color: rgb(132, 132, 132);
        display: flex;
        flex-direction: row;
        align-items: center;
        transition: all 0.2s ease-in-out;
        span {
            font-size: 4rem;
        }
        &:hover {
            color: lighten(rgb(132, 132, 132), 10%);
        }
    }
    p {
        margin-left: 1rem;
        font-size: 1.5rem;
        font-weight: 300;
        color: inherit;
    }   
}

.add-new {
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 20rem;
    left: 15rem;
    top: 1rem;
    height: 12rem;
    box-shadow: 8px 8px 14px 2px rgba(0, 0, 0, 0.15);
    background: linear-gradient(225deg, rgba(246, 13, 167, 0.7) 60%, rgba(180, 180, 180, 0.1) 100%);

    input {
        width: 70%;
    }

    button {
        text-transform: capitalize;
        color: antiquewhite;
        font-weight: 400;
        font-size: 1.5rem;
        margin-top: 0.5rem;

        &:hover {
            color: #ffffff;
        }
    }
}

.toggle {
    margin-right: 4rem;
    span {
        font-size: xx-large;
    }
}